<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292191364679-oieguiob31oo3ar4a39j0cdb4c058r9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292191364679-oieguiob31oo3ar4a39j0cdb4c058r9m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>292191364679-igiu0r9m66m3tbbra52qkatpionea2uc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8UTVVCMfv5WAiiMHRizp1O0ZBbx0ngMA</string>
	<key>GCM_SENDER_ID</key>
	<string>292191364679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kll.c2m2mongolia</string>
	<key>PROJECT_ID</key>
	<string>health-service-mongolia</string>
	<key>STORAGE_BUCKET</key>
	<string>health-service-mongolia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292191364679:ios:c533104f0b3cb5455c7362</string>
</dict>
</plist>